---
// Welcome to Astro! This is the entry point of your site.
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>My Personal Website</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
  </body>
</html>
